<md-dialog aria-label="Adicionar Tarefa" ng-cloak ng-controller="todoCtrl as vm">
    <form>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Adicionar Tarefa</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="vm.cancel()">
                    <md-icon md-svg-src="assets/img/icons/close.svg" aria-label="Cancelar"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="md-dialog-content">
                <br><br>
                <md-input-container class="md-block" flex-gt-sm>
                    <label>Nome da Tarefa</label>
                    <input ng-model="vm.todo" maxlength="30">
                </md-input-container>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">            
            <md-button class="md-primary" ng-click="vm.add()">
                Salvar
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>