<?xml version='1.0' encoding='utf-8'?>
<widget id="com.andrebaltieri.doo" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>2doo</name>
    <description>
        Create and manage all your taks
    </description>
    <author email="contato@andrebaltieri.net" href="http://andrebaltieri.net/">
        André Baltieri
    </author>
    <content src="index.html" />
    <plugin name="cordova-plugin-whitelist" spec="1" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
        <icon src="assets/img/2doo.png" density="ldpi" />
        <icon src="assets/img/2doo.png" density="mdpi" />
        <icon src="assets/img/2doo.png" density="hdpi" />
        <icon src="assets/img/2doo.png" density="xhdpi" />
        
        <splash src="assets/img/2doo.png" density="land-hdpi"/>
        <splash src="assets/img/2doo.png" density="land-ldpi"/>
        <splash src="assets/img/2doo.png" density="land-mdpi"/>
        <splash src="assets/img/2doo.png" density="land-xhdpi"/>

        <splash src="assets/img/2doo.png" density="port-hdpi"/>
        <splash src="assets/img/2doo.png" density="port-ldpi"/>
        <splash src="assets/img/2doo.png" density="port-mdpi"/>
        <splash src="assets/img/2doo.png" density="port-xhdpi"/>
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
</widget>
